<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chat Poc</title>
   
    
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <link href="home.css" rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="style.css" />
</head>
<body onload="getOldMsgs();">



    <nav class="navbar navbar-light navbar-expand-lg" style="margin-bottom:20px; background-image: linear-gradient(to right, gray,#2E8B57);">
        <a class="navbar-brand" href="/A" style="margin-left:10px;">
            <img src="logo.png" style="width: 40px;" >
        </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/A">Page A</a>
            <a class="nav-item nav-link active" href="/B">Page B</a>
        </div>
    </nav>



    <div class="page" id="loginPage">
        <h1>Qual seu nome?</h1>
        <input type="text" id="loginNameInput" />
    </div>

    <h1 class="content">Abul A</h1>

    <div class="content" >
            <div class="row shadow bg-white rounded my-table" style=" width: 80%; margin-bottom: 10px;">
                  
                <div class="page"  id="chatPage" style="height: 50%; ">
                    <div class="chatArea" style="max-height: 70vh; min-height: 70vh; ">
                        <ul class="chatList"></ul>
                        <ul class="userList"></ul>
                    </div>
                    <div class="chatInput">
                        <input type="text" id="chatTextInput" placeholder="Digite uma mensagem (e aperte ENTER)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
    
   
</body>
</html>